# Dependências
node_modules/
/backend/node_modules/
/frontend/node_modules/

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds e artefatos de compilação
dist/
build/
/frontend/dist/
/backend/dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Banco de dados local
*.sqlite
*.db

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Diretórios de IDEs
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários do Node.js
.npm/
.yarn/
